:root {
  --bg-button-color: #4d4d4d;
}

.li {
  display: flex;
  justify-content: center;
}

.checkBox {
  margin: 5px;
  position: relative;
  bottom: -8px;
}

.itemInput {
  margin: 5px;
  outline: none;
}

.saveButton {
  margin: 5px;
  cursor: pointer;
  padding: 5px 5px;
  color: white;
  background-color: var(--bg-button-color);
}
.saveButton:hover {
  background-color: #bdbdbd;
  color: #4d4d4d;
}

.itemText {
  margin: 5px;
}

.removeButton {
  margin: 5px;
  cursor: pointer;
  padding: 5px 5px;
  color: white;
  background-color: var(--bg-button-color);
}
.removeButton:hover {
  background-color: #bdbdbd;
  color: #4d4d4d;
}
