:root {
  --bg-button-color: #4d4d4d;
  --bg-button-hovercolor: #bdbdbd;
  --text-button:white;
  --text-buttonhover:#4d4d4d;
  
}

.li {
  display: flex;
  justify-content: center;
}

.checkBox {
  margin: 5px;
  position: relative;
  bottom: -8px;
}

.itemInput {
  margin: 5px;
  outline: none;
}

.saveButton {
  margin: 5px;
  cursor: pointer;
  padding: 5px 5px;
  color: var(--text-button);
  background-color: var(--bg-button-color);
}
.saveButton:hover {
  background-color:var(--bg-button-hovercolor);
  color:var(--text-buttonhover);
}

.itemText {
  margin: 5px;
}

.removeButton {
  margin: 5px;
  cursor: pointer;
  padding: 5px 5px;
  color: var(--text-button);
  background-color: var(--bg-button-color);
}
.removeButton:hover {
  background-color: var(--bg-button-hovercolor);
  color: var(--text-buttonhover);
}
